.header {
    display: flex;
    justify-content: center;
    // width: 100vw;
    font-family: 'Rajdhani', sans-serif;
    font-size: 22px;
    padding-top: 10px;
    background-color: #1b1b1b;
    &-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70%;
    }
    &-items {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    &-item {
        color: #fff;
        cursor: pointer;
        a {
            position: relative;
            &::after {
                position: absolute;
                content: "";
                border-bottom: 1px solid rgb(230, 219, 67);
                left: 0;
                bottom: 0;
                width: 100%;
                transform: scaleX(0);
                transform-origin: right;
                transition: transform .6s;
            }
            &:hover {
                &::after {
                    transform: scaleX(1);
                    transform-origin: left;
                }   
            }
        }
        span {
            cursor: pointer;
            letter-spacing: 1px;
            
        }
    }
    &-burger {
        display: none;
    }
}

@media (max-width: 992px) {
    .header {
        font-size: 20px;
        &-container {
            width: 90%;
        }
    }
} 

@media (max-width: 576px) {
    .header {
        &-burger {
            display: block;
            color: #fff;
        }
        &-items {
            justify-content: flex-end;
            font-size: 35px;
        }
        &-item {
            display: none;
        }
    }
}